@model decimal

@{
    ViewData["Title"] = "RevenusPourUnModele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Résultat de la procédure :</h1>
<div>
    <p>Les revenus pour ce modèle s'élèvent à : @Model $</p>
</div>
